@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@*     <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@


    <div class="home-logo">
        @* <div class="center"> *@
        <span id="logo">
            <img class="logo-gesn" src="~/img/gesn-vertical-colorido.svg" alt="Logomarca gesn" />
        </span>
        
        <span id="logo">
            <img class="logo-gesn" src="~/img/gesn-horizontal-colorido.svg" alt="Logomarca gesn" />
        </span>

        @* <h3>Sua plataforma de administração online!</h3> *@
    </div>

</div>
<div class="text-center">
    @* <p>Testes</p> *@
</div>
