@page
@model gesn.webApp.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de recuperação de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Enviamos um email com um link para redefinir sua senha. 
    Por favor, verifique seu email.
</p> 