@page
@using gesn.webApp.Areas.Identity.Pages.Account.Manage
@model gesn.webApp.Areas.Identity.Pages.Account.Manage.ChangePasswordModel
@{
    ViewData["Title"] = "Alterar senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group position-relative">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" id="oldPassword" />
                <button type="button" class="btn position-absolute end-0 top-50 translate-middle-y border-0 bg-transparent pe-3"
                        onclick="togglePasswordVisibility('oldPassword', 'oldPasswordIcon')">
                    <i id="oldPasswordIcon" class="bi bi-eye"></i>
                </button>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group position-relative">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" id="newPassword" />
                <button type="button" class="btn position-absolute end-0 top-50 translate-middle-y border-0 bg-transparent pe-3"
                        onclick="togglePasswordVisibility('newPassword', 'newPasswordIcon')">
                    <i id="newPasswordIcon" class="bi bi-eye"></i>
                </button>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group position-relative">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" id="confirmPassword" />
                <button type="button" class="btn position-absolute end-0 top-50 translate-middle-y border-0 bg-transparent pe-3"
                        onclick="togglePasswordVisibility('confirmPassword', 'confirmPasswordIcon')">
                    <i id="confirmPasswordIcon" class="bi bi-eye"></i>
                </button>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Alterar senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/password-visibility.js"></script>
} 