@page
@using gesn.webApp.Areas.Identity.Pages.Account.Manage
@model gesn.webApp.Areas.Identity.Pages.Account.Manage.DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download dos Dados Pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-primary" role="alert">
    Por favor, clique no botão abaixo para baixar seus dados pessoais.
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 